*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(42, 230, 21);
}

.container{
    text-align: center;
    margin-top: 20px;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

table{
    margin: auto;
}

input{
    font-size: 25px;
    border: 5px solid black;
    border-radius: 21px;
    height: 40px;
    width: 356px;
}

button{
    font-size: 18px;
    width: 80px;
    background-color: #e9e8eb;
    border-radius: 21px;
    height: 60px;
    margin: 4px;
}


.calculator{
    border: 4px solid #d44313;
    background-color: #5532f5;
    padding: 17px;
    border-radius: 10px;
    display: inline-block;   
    
}